:root {
  --main-color: #389c53;
  --black-color: #171717;
  --dark-gray-color: #2e332e;
  --gray-color: #5d665d;
  --white-color: #f2f2f2;
  --red-color: #6e1a03;
}


html, body { 
  position: relative;
  height: 100%;
}
body {
  background-color: var(--black-color);
  color: var(--dark-gray-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
}

h1,h2,h3,h4 {
  margin: 0;
  font-family: 'Bigshot One', cursive;
}

.container {
  height: 100%;
  width: 800px;
  background-color: var(--white-color);
  padding: 0;
  -webkit-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 5s;
  min-height: fit-content;
}

.container.destroy {
  transform: skew(90deg, 90deg);
  opacity: 0;
  pointer-events: none;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
}

header {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  align-items: center;
  min-height: fit-content;
}

.title {
  flex: 1;
  margin: 50px;
  font-size: 3.5rem;
}

main {
  display: flex;
  flex-direction: row;
  padding: 24px;
  min-height: fit-content;
  flex:1;
}

footer {
  padding: 24px;
  min-height: fit-content;
}

aside {
  flex:0;
}

.top-secret {
  position: absolute;
  z-index: 1;
  width: 200px;
  left: -100px;
  opacity: 0.8;
}

.top-secret img {
  width: 100%;
  transform: rotate(330deg);
}

.mug-shot {
  position: relative;
  background-color: var(--white-color);
  padding: 24px;

  transform: rotate(10deg);
  max-width: 200px;
  margin-right: 100px;
  -webkit-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
}

.mug-shot img {
  width: 100%;
  margin-bottom: 12px;
}

.mug-shot strong {
  font-size: 10px;
}

#replay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  background-color: var(--white-color);
  padding: 16px 24px;
  border-radius: 4px;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  opacity: 0;
  pointer-events: none;
  transition: 3s all;
}

#replay.reveal {
  opacity: 1;
  z-index: 2;
  pointer-events: all;
}


.text {
  margin: 16px 22px;
  font-size: 16px;
}

.text.dark-gray {
  color: var(--dark-gray-color)
}

.text.small {
  font-size: small;
  color: var(--gray-color);
}

.text.red {
  color: var(--red-color);
}

.text.center {
  text-align: center;
}


@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
  header {
    flex-direction: column;
  }

  main {
    padding: 48px 18px 0;
  }

  .title {
    text-align: center;
    margin: 16px 16px 50px;
    font-size: 2.5rem;
  }
  .mug-shot {
    margin: 0 auto;
  }

}

@media screen and (max-width: 400px) {
  .title {
    font-size: 2rem;
  }
  .top-secret {
    left: -50px;
  }
}





.searchlight {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(2);
}

.left {
  animation: left 10s ease-in-out infinite;
  background-color: rgba(255,255,255,.50);
}
.right {
  animation: right 15s ease-in-out alternate infinite;
  background: rgba(255,255,255,.50);
}

@keyframes left {
  from, to {
    -webkit-clip-path: polygon(20% 0, 5% 100%, 0 100%, 0 95%, 0 0); clip-path: polygon(20% 0, 5% 100%, 0 100%, 0 95%, 0 0);
  }
  50% { -webkit-clip-path: polygon(100% 0, 5% 100%, 0 100%, 0 95%, 80% 0); clip-path: polygon(100% 0, 5% 100%, 0 100%, 0 95%, 80% 0); }
}

@keyframes right {
  from, to {
    -webkit-clip-path: polygon(100% 0, 100% 95%, 100% 100%, 95% 100%, 80% 0); clip-path: polygon(100% 0, 100% 95%, 100% 100%, 95% 100%, 80% 0);
  }
  50% { -webkit-clip-path: polygon(20% 0, 100% 95%, 100% 100%, 95% 100%, 0 0); clip-path: polygon(20% 0, 100% 95%, 100% 100%, 95% 100%, 0 0); }
}
